*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.tdc_container{
    min-height: 700px;
    padding: 36px;
}
/* Heading title page size download print */
.tdc_head_title_pagesize{
    display: flex;
    gap: 24px;
}
.tdc_title{
    width: 50%;
}
.tdc_pagesize{
    width: 45%;
}
.tdc_pagesize input,
.tdc_title input,
.title_data_field input[type="text"]{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #46B8DA;
}
.tdc_download_pdf button,
.tdc_print button{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 8px;
 padding: 10px 12px;
 background: #46B8DA;
 border-radius: 8px;
 outline: none;
 border: none;
}
.tdc_download_pdf{
    width: 34%;
}
.tdc_print{
    width: 16%;
}
.tdc_download_pdf button{
    width: 100%;
}
.tdc_print button{
    width: 100%;
}
.tdc_pagesize_download_print{
    display: flex;
    align-items: end;
    width: 50%;
    gap: 24px;
    justify-content: space-between;
}
/* --------- */
.tdc_content{
    margin-top: 44px;
    display: flex;
    gap: 32px;
}
/* content left fields */

.tdc_content_left_field{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.thickness,
.line_spacing,
.page_margin{
    display: flex;
    align-items: center;
}
input[type=range] {
    -webkit-appearance: none;
    width: 60%;
    height: 3px; 
    background: #46B8DA;
    border-radius: 5px; 
    outline: none;
  }
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 14px; 
    height: 14px; 
    background: #46B8DA; 
    border-radius: 50%; 
    cursor: pointer;
}
.range_number{
    display: flex;
    justify-content: space-between;
    width: 60%;
   
}
.range_number span{
    margin-top: -6px;
    font-size: 14px;
}

.checkbox_type_retang_1{
    width: 42px;
    height: 42px;
    background-color: #46B8DA;
    border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.checkbox_type_retang_2{
    width: 22px;
    height: 22px;
    border: 1px solid black;
    background: white;
}
.checkbox_type_circle{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid black;
}
.checkbox_type_img{
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 0;
}

/* to do checklist */

.tdc_content_todo_checklist{
    min-height: 700px;
    flex-grow: 2;
    text-align: center;
    border: 2px solid #46B8DA;
    padding: 32px 52px;
    
}
.todo_checklist_title{
    text-align: center;
}
.todo_checklist{
    display: flex;
    align-items: end;
    gap: 12px;
    margin-bottom: 12px;
}
.todo_checklist_title{
    margin-bottom: 28px; 
}
.todo_checklist input[type='checkbox']{
    height: 22px;
    width: 22px;
    display: flex;
    margin-bottom: 4px;
    
}
.checkbox_data{
    border-bottom: 1px solid black;
    width: 100%;
}
.todo_checklist_footer_text{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 24px;
}

/* centent right field */
.tdc_content_right_field{
    flex-grow: .42;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title_data_field input[type='color']{
    padding: 0px;
    border: none;
    border-radius: 8px;
    width: 40%;
    height: 44px;
}
.title_data_field input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
.title_data_field input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
}
.title_data_field div{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}
